/* heading, cta, header navigation */
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");
/* font-family: 'Raleway', sans-serif; */

/* body */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
/* font-family: 'Open Sans', sans-serif; */

:root {
  --veryDarkBlue: hsl(243, 87%, 12%);
  --desBlue: hsl(238, 22%, 44%);
  --brightBlue: hsl(224, 93%, 58%);
  --modCyan: hsl(170, 45%, 43%);
  --lightGrayishBlue: hsl(240, 75%, 98%);
  --lightGray: hsl(0, 0%, 75%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  max-width: 100%;
  padding: 2rem 0;
  padding-bottom: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.85rem;
  font-family: "Raleway", sans-serif;
}

.logo-mobile {
  max-width: 25%;
  flex-basis: 30%;
}

.nav-links {
  flex-basis: 55%;
  display: flex;
  justify-content: space-between;
}

.nav-links a {
  text-decoration: none;
  color: var(--veryDarkBlue);
  transition: color 0.3s;
}

.nav-links a:hover {
  color: hsla(243, 87%, 12%, 50%);
}

.component {
  padding: 0 2rem;
}

.component-one {
  margin-top: 4rem;
  font-family: "Open Sans", sans-serif;
  text-align: center;
}

.img-one {
  width: 100%;
  margin-bottom: 1rem;
}

.hero {
  margin-bottom: 2rem;
}

.hero-h1 {
  font-size: 1.5rem;
  color: var(--veryDarkBlue);
  margin-bottom: 2rem;
}

.hero p {
  font-size: 0.9rem;
  color: var(--veryDarkBlue);
}

.email-form {
  display: flex;
  flex-direction: column;
}

.input-email {
  padding: 0.8rem;
  margin-bottom: 1rem;
  border-radius: 0.3rem;
  border: 1px solid var(--veryDarkBlue);
  outline: none;
}

.btn-email {
  padding: 0.8rem;
  font-family: "Raleway", sans-serif;
  color: white;
  font-weight: 700;
  background-color: var(--brightBlue);
  border: none;
  border-radius: 0.3rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn-email:hover {
  background-color: hsla(224, 93%, 58%, 80%);
}

.component-two {
  margin-top: 6rem;
  background-image: url("./images/bg-curve-mobile.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 3rem;
}

.img-two {
  width: 100%;
}

.component-two h2 {
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  text-align: center;
  margin-top: 4rem;
  margin-bottom: 1.5rem;
  color: var(--veryDarkBlue);
}

.component-two p {
  margin-top: 1rem;
  color: var(--veryDarkBlue);
  font-family: "Open Sans", sans-serif;
  font-size: 0.85rem;
}

.fylo-work {
  border-bottom: 2px solid var(--modCyan);
  max-width: 170px;
  margin: 0 auto;
  margin-top: 2rem;
  padding: 0.3rem 0;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.fylo-work a {
  text-decoration: none;
  margin-right: 0.8rem;
  color: var(--modCyan);
  font-size: 1rem;
  transition: color 0.3s;
}

.fylo-work:hover a {
  color: hsla(170, 45%, 43%, 70%);
}

.arrow-icon {
  width: 15%;
}

.testimonial {
  background-color: white;
  box-shadow: 1px 1px 20px 4px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  margin-top: 2.5rem;
  margin-bottom: 3rem;
}

.quotes {
  margin-bottom: 1rem;
}

.testimonial p {
  font-size: 0.78rem;
  color: var(--veryDarkBlue);
  margin-top: 0;
  font-family: "Open Sans", sans-serif;
}

.person {
  margin-top: 1rem;
  display: flex;
  align-items: center;
}

.img-testimonial {
  width: 20%;
  border-radius: 50%;
  margin-right: 1rem;
}

.name {
  font-weight: 700;
  margin-bottom: 0.2rem;
}

.testimonial .position {
  font-size: 0.6rem;
}

.component-three {
  background-color: var(--desBlue);
  color: white;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.component-three h2 {
  font-family: "Raleway", sans-serif;
  text-align: center;
  font-size: 1rem;
  margin-bottom: 1rem;
}

.comp-three-p {
  font-family: "Open Sans", sans-serif;
  text-align: center;
  font-size: 0.95rem;
}

.early-access {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 2rem;
  margin-bottom: 1.5rem;
  max-width: 90%;
}

.earlyAccess-input {
  border: none;
}

.earlyAccess-btn:hover {
  background-color: rgb(117, 152, 250);
}

.component-four {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: var(--veryDarkBlue);
  color: white;
  font-family: "Open Sans", sans-serif;
}

.logo-footer {
  max-width: 40%;
  margin-bottom: 1rem;
}

.info {
  display: flex;
  align-items: center;
  padding: 0.5rem 0;
}

.img-phone,
.img-email {
  margin-right: 1rem;
}

.others {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.others > * {
  margin-top: 1rem;
  text-decoration: none;
  color: white;
  /* display: block; */
  transition: color 0.3s;
}

.others > *:hover {
  color: var(--modCyan);
}

.socialMedia {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
  margin-top: 3rem;
}

.socialMedia a {
  border: 1px solid white;
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border-radius: 50%;
  transition: 0.3s;
}

.socialMedia a:hover,
.socialMedia a:hover i {
  border-color: var(--modCyan);
  color: var(--modCyan);
}

.socialMedia a i {
  color: white;
  transition: 0.3s;
}

.fb,
.twitter {
  margin-right: 1rem;
}

/***** MEDIA QUERIES  *****/

@media (min-width: 43.75rem) {
  .logo-mobile {
    max-width: 180px;
    flex-basis: 50%;
  }

  .nav-links {
    flex-basis: 30%;
    display: flex;
    justify-content: space-between;
  }
}

@media (min-width: 56.25rem) {
  .component-one {
    display: flex;
    margin-top: 5rem;
    text-align: left;
    align-items: center;
  }

  .hero-form {
    flex-basis: 50%;
    order: -1;
  }

  .img-one {
    flex-basis: 50%;
  }

  .hero {
    margin-bottom: 1.5rem;
  }

  .hero-h1 {
    margin-bottom: 1rem;
  }

  .email-form {
    /* outline: 1px solid black; */
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-right: 1rem;
  }

  .input-email {
    margin-bottom: 0rem;
    flex-basis: 60%;
  }

  .btn-email {
    flex-basis: 35%;
  }

  .component-two {
    display: flex;
    align-items: center;
    background-image: url("./images/bg-curve-desktop.svg");
    /* background-color: var(--lightGrayishBlue); */
    background-size: cover;
    background-position: left 50% top 0%;
  }

  .text-testimonial {
    order: -1;
    flex-basis: 50%;
  }

  .img-two {
    flex-basis: 50%;
  }

  .component-two h2 {
    text-align: left;
    font-size: 1.5rem;
  }

  .component-two p {
    font-size: 0.8rem;
  }

  .fylo-work {
    margin: 2rem 0 0 0;
  }

  .testimonial {
    max-width: 300px;
    margin-bottom: 5rem;
  }

  .component-three {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  .text-comp-three {
    flex-basis: 50%;
  }

  .component-three h2 {
    font-size: 1.5rem;
    text-align: left;
  }

  .comp-three-p {
    font-family: "Open Sans", sans-serif;
    text-align: left;
    font-size: 0.85rem;
  }

  .early-access {
    margin-top: 0;
    margin-bottom: 0;
    flex-basis: 50%;
    margin-left: 1rem;
  }

  .earlyAccess-input {
    margin-bottom: 1rem;
  }

  .earlyAccess-btn {
    width: 200px;
  }

  .component-four {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .logo-footer {
    max-width: 20%;
    margin-bottom: 1rem;
  }

  .contact-social {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  .info {
    padding: 0;
  }

  .phone {
    margin-bottom: 1rem;
  }

  .others {
    margin-top: 0rem;
  }

  .abt,
  .cntct {
    margin-top: 0;
  }

  .socialMedia {
    margin-top: 0rem;
  }
}

@media (min-width: 81.25rem) {
  .component {
    padding: 0 5rem;
  }

  .hero-h1 {
    font-size: 2.2rem;
  }

  .hero p {
    font-size: 1.1rem;
  }

  .email-form {
    padding-right: 3rem;
  }

  .img-one,
  .img-two {
    margin-left: 5rem;
  }

  .component-two h2 {
    font-size: 2rem;
  }

  .component-two p {
    font-size: 1.1rem;
  }

  .testimonial {
    max-width: 370px;
  }

  .testimonial p {
    font-size: 1rem;
  }

  .component-three {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }

  .text-comp-three {
    /* padding-right: 4rem; */
    max-width: 550px;
    outline: 1px solid black;
  }

  .component-three h2 {
    font-size: 1.8rem;
  }

  .comp-three-p {
    font-size: 1.1rem;
  }

  .early-access {
    outline: 1px solid black;
    max-width: 550px;
    margin-left: 5rem;
  }

  .component-four {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }

  .logo-footer {
    max-width: 10rem;
  }
}
